<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.bit.model.dao.DeptDao">
	<select id="getAllDepts" resultType="Dept">
		select deptno, dname, loc from dept
	</select>
	<select id="getDept" parameterType="int" resultType="Dept"> 
		select deptno, dname, loc from dept where deptno = #${deptno} 
	</select>
</mapper>


